  <footer>
    <div class="footer1">
    <div class="footerdiv">
      <li><a href="#">Aide</a></li>
      <li><a href="#">Parametre de confidentialité</a></li>
      <li><a href="#">Se connecter</a></li>
    </div>
    <div class="footerdiv">
      <li><a href="#">Politique en matière de cookies</a></li>
      <li><a href="#">Politique de confidentialité</a></li>
      <li><a href="#">Conditions d'utilisation</a></li>
      <li><a href="#">Coordonnées de la société</a></li>
    </div>
    <div class="footerdiv">
      <li><a href="#">Explorer</a></li>
      <li><a href="#">Entreprise</a></li>
      <li><a href="#">Partenaires</a></li>
      <li><a href="#">Voyages</a></li>
    </div>
    <div class="footerdiv">
      <li><p>Social Media</p></li>
      <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
    </div>
    </div>
    <h3>Comparez et réservez des vols pas chers avec RoamMate <br> &copy; RoamMate Ltd 2025 – 2026</h3>
  </footer>